table, th, td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
