<!DOCTYPE html>

<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="../static/style.css">
        <title>index</title>
    </head>
    <body>
        <h1>Electronics Lab Component Directory</h1>
        <form action="/newComponent" method="post">
            <button type="submit">New Component</button>
        </form>
        <form action="/boxManagement" method="post">
            <button type="submit">Box Management</button>
        </form>
        <form action="/search" method="post">
            <button type="submit">Search Database</button>
        </form>
        <form action="/history" method="post">
            <button type="submit">Component History</button>
        </form>
        <form action="/backups" method="post">
            <button type="submit">Download Backups</button>
        </form>
    </body>
</html>

